<!-- File Path: appsai/socialai/templates/socialai/chat.html -->

{% extends "socialai/base.html" %}
{% load static %}

{% block title %}Chat with GPT-4o{% endblock %}

{% block content %}
<main>
    <h1 class="mt-5">Chat with GPT-4o</h1>
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            {% for message in chat_history %}
                <div class="chat-message">
                    <strong>{{ message.role|capfirst }}:</strong>
                    <p>{{ message.content|safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <form method="post" id="chat-form" enctype="multipart/form-data" class="chat-input">
        {% csrf_token %}
        <div id="file-attachments" class="mb-3"></div> 
        <div class="input-group mb-3">
            <textarea id="message" name="message" class="form-control" placeholder="Type your message here..." rows="1"></textarea>
            <div class="input-group-append">
                <label class="btn">
                    <input type="file" id="file-input" name="file" accept=".jpeg,.jpg,.png,.webp,.pdf" style="display: none;">
                    <i class="bi bi-paperclip"></i>
                </label>
                <button type="submit" class="btn">
                    <i class="bi bi-arrow-up-circle-fill"></i>
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var chatBox = document.getElementById("chat-box");
        chatBox.scrollTop = chatBox.scrollHeight;

        var chatForm = document.getElementById("chat-form");
        chatForm.addEventListener("submit", function () {
            setTimeout(function () {
                chatBox.scrollTop = chatBox.scrollHeight;
            }, 100);
        });
    });
</script>
{% endblock %}

